/* stylelint-disable selector-class-pattern */
.wpd-block-cards {
	$self: &;

	&__title {

		.editor-styles-wrapper & {
			margin: 0;
		}
	}

	&__list {
		display: block;

		&_left .block-editor-block-list__layout {
			justify-content: flex-start;
		}

		&_center .block-editor-block-list__layout {
			justify-content: center;
		}

		&_right .block-editor-block-list__layout {
			justify-content: flex-end;
		}

		> * {
			margin: 0;
		}
	}

	.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;

		.wp-block {
			margin: 0 0.5em 1em;
		}
	}

	@each $columns in [1, 2, 3, 4, 5, 6] {
		&_columns-#{ $columns } {

			#{ $self }__list {

				> * {
					width: auto;
				}
			}

			.block-editor-block-list__layout {

				> *:not(.block-list-appender) {
					width: calc((100% - #{ $columns }em) / $columns);
				}
			}
		}
	}
}
