/* stylelint-disable selector-class-pattern */
.innocode-block-cards {
	$self: &;
	margin-bottom: 1em;

	&__header {
		margin-bottom: 1em;
	}

	&__title,
	&__description {
		text-align: center;
	}

	&__list,
	.block-editor-block-list__layout {
		display: grid;
		gap: 1em;
	}

	@each $columns in [1, 2, 3, 4, 5, 6] {
		&_columns-#{$columns} {
			#{ $self }__list,
			.block-editor-block-list__layout {
				grid-template-columns: repeat($columns, minmax(0, 1fr));
			}
		}
	}
}
