/* stylelint-disable selector-class-pattern */
.innocode-block-cards {
	$self: &;
	margin-bottom: 1em;

	&__header {
		margin-bottom: 1em;
	}

	&__title,
	&__description {
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		&_left {
			justify-content: flex-start;
		}

		&_center {
			justify-content: center;
		}

		&_right {
			justify-content: flex-end;
		}

		> * {
			margin: 0 0.5em 1em;
		}
	}

	@each $columns in [1, 2, 3, 4, 5, 6] {
		&_columns-#{ $columns } {
			#{ $self }__list {

				> * {
					width: calc((100% - #{ $columns }em) / $columns);
				}
			}
		}
	}
}
