.innocode-block-card {
	background: #fff;

	&__image {
		margin: 0 auto 1em;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: 0.5em;
	}

	&__header {
		margin-bottom: 1em;
	}

	&__title {
		margin: 0;
	}

	&__subtitle {
		font-size: 0.75em;
	}

	&__footer {
		margin-top: 1em;
	}

	&__phone,
	&__email {
		display: inline-block;
		vertical-align: middle;
	}

	&__email:not(:only-child) {
		margin-top: 0.5em;
	}

	&_default &__footer {
		text-align: right;
	}
}
